* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(226, 249, 234);
    width: 350px;
}

#container {
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

#new-task {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

#add-task {
    padding: 10px;
    width: 100%;
    margin: 6px auto;
    background: radial-gradient(rgb(140, 201, 140), rgb(77, 160, 77));
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#add-task:hover {
    border: 1px solid black;
}

#task-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

#task-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgb(206, 214, 206);
    margin-bottom: 6px;
    border-radius: 4px;
    overflow: hidden;
}

#task-list li span {
    flex-grow: 1;
    margin-left: 10px;
    word-break: break-all;
}

input[type='checkbox'] {
    cursor: pointer;
}

button:not(#add-task) {
    margin-left: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}